/*
 * Copyright (c) 2024 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 // app.overlay
/ {
    chosen {
        zephyr,settings = &settings_partition;
    };
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        //#address-cells = ;
        //#size-cells = ;
		#address-cells = <1>;
		#size-cells = <1>;


        // Assuming your application partition is defined elsewhere
        // or takes up space from flash_primary automatically.

        settings_partition: partition@3e000 { // For 256KB Flash
            label = "storage";
            reg = <0x0003e000 0x00002000>;   // Start: 0x0803E000, Size: 8KB
        };
    };
};

/{
	gpio_keys {
		compatible = "gpio-keys";
		user_button_1: button_0 {
			label = "SW1";
			gpios = <&gpioa 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_0>;
		};
		user_button_2: button_1 {
			label = "SW2";
			gpios = <&gpioa 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_1>;
		};
		user_button_3: button_2 {
			label = "SW3";
			gpios = <&gpioc 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_2>;
		};
 		user_button_4: button_3 {
			label = "SW4";
			gpios = <&gpiob 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_3>;
		};
	};
};

/* make sure GPIOB is enabled */
&gpiob {
    status = "okay";
};

/{
    aliases {
        /* now alias wkup-src to that node’s phandle only */
        wkup-src = &user_button_1;
        led1     = &blue_led_1;
        led2     = &green_led_2;
    };
};

&pwr {
	status = "okay";
};


